<Layouts.flash_group flash={@flash} />

<center>

<h1 class="text-xl p-10">Welcome to Navatrack</h1>

<p class="p-3">This web app is an experimental prototype work in progress.</p>

<p class="p-3">The purpose is to help teams navigate and track what they're doing.</p>

<p class="p-3">To start, try the upper-left three-line menu.</p>

</center>